"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[D": backward-char
"\e[C": forward-char
"\e[1;5D": backward-word
"\e[1;5C": forward-word
"\e[1;3D": beginning-of-line
"\e[1;3C": end-of-line
set show-all-if-ambiguous on
set completion-ignore-case on

